<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>مدیریت - {% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('images/static/about.jpg') }}"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="{{ asset('admin/vendors/bundle.css') }}" type="text/css">

    <!-- Slick.js styles -->
    <link rel="stylesheet" href="{{ asset('admin/vendors/slick/slick.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('admin/vendors/slick/slick-theme.css') }}" type="text/css">
    <!-- Prism -->
    <link rel="stylesheet" href="{{ asset('admin/vendors/prism/prism.css') }}" type="text/css">


    <!-- App styles -->
    <link rel="stylesheet" href="{{ asset('admin/assets/css/app.min.css') }}" type="text/css">
    <!-- Css -->
    <link rel="stylesheet" href="{{ asset('admin/vendors/dataTable/dataTables.min.css') }}" type="text/css">
    <!--jQuery-->
    <script src="{{ asset('front/js/jquery-3.4.1.min.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
</head>
<body>

<!-- begin::preloader-->
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<!-- end::preloader -->

<!-- begin::header -->
<div class="header">

    <div>
        <ul class="navbar-nav">

            <!-- begin::navigation-toggler -->
            <li class="nav-item navigation-toggler">
                <a href="#" class="nav-link" title="Hide navigation">
                    <i data-feather="arrow-left"></i>
                </a>
            </li>
            <li class="nav-item navigation-toggler mobile-toggler">
                <a href="#" class="nav-link" title="Show navigation">
                    <i data-feather="menu"></i>
                </a>
            </li>
            <!-- end::navigation-toggler -->
        </ul>
    </div>

    <div>
        <ul class="navbar-nav">

            <!-- begin::jump dashboard -->
            <li class="nav-item dropdown">
                <a href="{{path('home')}}" class="nav-link" title="صفحه اصلی">
                    <i class="fa fa-tv"></i>
                </a>
            </li>
            <!-- end::jump dashboard -->
            <!-- begin::header minimize/maximize -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" title="تمام صفحه" data-toggle="fullscreen">
                    <i class="maximize" data-feather="maximize"></i>
                    <i class="minimize" data-feather="minimize"></i>
                </a>
            </li>
            <!-- end::header minimize/maximize -->

            <!-- begin::user menu -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" title="User menu" data-toggle="dropdown">
                    <i data-feather="settings"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-left dropdown-menu-big">
                    <div class="p-4 text-center d-flex justify-content-between"
                         data-backround-image="assets/media/image/image1.jpg">
                        <h6 class="mb-0">تنظیمات</h6>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" onchange="privecyToggle(this)">
                                    <label class="custom-control-label" for="customSwitch1">حریم خصوصی</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <script>
                        function privecyToggle(elemet){
                            if(elemet.checked == true)
                                $('main').addClass('blur');
                            else
                                $('main').removeClass('blur');
                        }
                    </script>
                </div>
            </li>
            <!-- end::user menu -->
        </ul>

        <!-- begin::mobile header toggler -->
        <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item header-toggler">
                <a href="#" class="nav-link">
                    <i data-feather="arrow-down"></i>
                </a>
            </li>
        </ul>
        <!-- end::mobile header toggler -->
    </div>

</div>
<!-- end::header -->

<div id="main">

    <!-- begin::navigation -->
    <div class="navigation">

        <div class="navigation-menu-tab">
            <div>
                <div class="navigation-menu-tab-header" data-toggle="tooltip" title="{{ app.user.fullName }}" data-placement="right">
                    <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                        <figure class="avatar avatar-sm">
                            <img src="{{ asset('admin/assets/media/image/user/women_avatar1.jpg') }}" class="rounded-circle" alt="avatar">
                        </figure>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-big">
                        <div class="p-3 text-center" data-backround-image="{{ asset('admin/assets/media/image/image1.jpg') }}">
                            <figure class="avatar mb-3">
                                <img src="{{ asset('admin/assets/media/image/user/women_avatar1.jpg') }}" class="rounded-circle" alt="image">
                            </figure>
                            <h6 class="d-flex align-items-center justify-content-center">
                                {{ app.user.fullName }}
                                <a href="#" class="btn btn-primary btn-sm ml-2" data-toggle="tooltip" title="ویرایش پروفایل">
                                    <i data-feather="edit-2"></i>
                                </a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1">
                <ul>
                    <li>
                        <a class="active" href="#" data-toggle="tooltip" data-placement="right" title="داشبردها"
                           data-nav-target="#dashboards">
                            <i data-feather="bar-chart-2"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="تنظیمات">
                            <i data-feather="settings"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}" data-toggle="tooltip" data-placement="right" title="خروج">
                            <i data-feather="log-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- begin::navigation menu -->
        <div class="navigation-menu-body">

            <!-- begin::navigation-logo -->
            <div>
                <div id="navigation-logo">
                    <a href="{{ path('adminDashboard') }}">
                        <img class="logo" src="{{ asset('images/public/sarkeshLogo.png') }}" alt="logo">
                        <img class="logo-light" src="{{ asset('images/public/sarkeshLogo.png') }}" alt="light logo">
                    </a>
                </div>
            </div>
            <!-- end::navigation-logo -->

            <div class="navigation-menu-group">

                <div class="open" id="dashboards">
                    <ul>
                        <li class="navigation-divider">بخش یاداشت و خبر</li>
                        <li><a class="" href="{{ path('adminNewsAdd') }}">یاداشت جدید</a></li>
                        <li><a class="" href="{{ path('adminNewsArchive') }}">مدیریت یاداشت‌ها<span class="badge badge-danger">{{ EntityMGR.findAll('App:NewsContent') | length }}</span></a></li>
                        <li><a class="" href="{{ path('adminNewsCatArchive') }}">دسته‌بندی‌ها<span class="badge badge-danger">{{ EntityMGR.findAll('App:NewsCat') | length }}</span></a></li>
                        <li><a class="" href="{{ path('adminCommentsArchive') }}">دیدگاه‌ها<span class="badge badge-danger">{{ EntityMGR.findAll('App:NewsComment') | length }}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end::navigation menu -->

    </div>
    <!-- end::navigation -->

    <!-- begin::main content -->
    <main class="main-content">

        <div class="page-header">
            <div class="container-fluid d-sm-flex justify-content-between">
                <h4>{{ block('title') }}</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{path('adminDashboard')}}">داشبورد</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ block('title') }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">
                            {% block pageBody %}{% endblock %}
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- begin::footer -->
        <footer>
            <div class="container-fluid">
                <div>تمام حقوق برای توسعه فناوری سرکش محفوظ است</div>

                <div>
                    <nav class="nav">
                        <a href="https://www.rtl-theme.com/standard/" class="nav-link">لیسانس</a>
                        <a href="#" class="nav-link">تغییر لاگ</a>
                        <a href="#" class="nav-link">راهنمایی</a>
                    </nav>
                </div>
            </div>
        </footer>
        <!-- end::footer -->

    </main>
    <!-- end::main content -->

</div>

<div class="colors"> <!-- To use theme colors with Javascript -->
    <div class="bg-primary"></div>
    <div class="bg-primary-bright"></div>
    <div class="bg-secondary"></div>
    <div class="bg-secondary-bright"></div>
    <div class="bg-info"></div>
    <div class="bg-info-bright"></div>
    <div class="bg-success"></div>
    <div class="bg-success-bright"></div>
    <div class="bg-danger"></div>
    <div class="bg-danger-bright"></div>
    <div class="bg-warning"></div>
    <div class="bg-warning-bright"></div>
</div>
<!-- Plugin scripts -->
<script src="{{ asset('admin/vendors/bundle.js') }}"></script>



<!-- Slick.js -->
<script src="{{ asset('admin/vendors/slick/slick.min.js') }}"></script>

<!-- Chartjs -->
<script src="{{ asset('admin/vendors/charts/chartjs/chart.min.js') }}"></script>
<!-- <script src="assets/js/examples/charts/chartjs.js"></script> -->

<!-- Apex chart -->
<script src="{{ asset('admin/assets/js/examples/charts/apex-irregular-data-series.js') }}"></script>
<script src="{{ asset('admin/vendors/charts/apex/apexcharts.min.js') }}"></script>

<!-- Circle progress -->
<script src="{{ asset('admin/vendors/circle-progress/circle-progress.min.js') }}"></script>

<!-- Style -->
<link rel="stylesheet" href="{{ asset('admin/vendors/tagsinput/bootstrap-tagsinput.css') }}" type="text/css">

<!-- Dashboard scripts -->
<!-- Chartjs -->
<!-- <script src="vendors/charts/chartjs/chart.min.js"></script> -->
<!-- <script src="assets/js/examples/charts/chartjs.js"></script> -->

<script src="{{ asset('admin/assets/js/examples/dashboard.js') }}"></script>

<!-- App scripts -->
<script src="{{ asset('admin/assets/js/app.min.js') }}"></script>


<!--Popper js-->
<script src="{{ asset('front/js/popper.min.js') }}"></script>
<!--Bootstrap js-->
<script src="{{ asset('front/js/bootstrap.min.js') }}"></script>

<!-- Javascript -->
<script src="{{ asset('admin/vendors/dataTable/jquery.dataTables.min.js') }}"></script>

<!-- Bootstrap 4 and responsive compatibility -->
<script src="{{ asset('admin/vendors/dataTable/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('admin/vendors/dataTable/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('admin/vendors/tagsinput/bootstrap-tagsinput.js') }}"></script>


<script>
    $(document).ready(function(){
        $('#myTable').DataTable();
        $("input.tagsinput").tagsinput('items');
        {% block javascriptOnReady %}{% endblock %}
    });
    <!-- global variables -->
    var SelectedIndex;
</script>
{% block javaScript %}{% endblock %}
</body>

</html>