<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>مدیریت - {% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('images/static/about.jpg') }}"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="{{ asset('admin/vendors/bundle.css') }}" type="text/css">

    <!-- Slick.js styles -->
    <link rel="stylesheet" href="{{ asset('admin/vendors/slick/slick.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('admin/vendors/slick/slick-theme.css') }}" type="text/css">
    <!-- Prism -->
    <link rel="stylesheet" href="{{ asset('admin/vendors/prism/prism.css') }}" type="text/css">


    <!-- App styles -->
    <link rel="stylesheet" href="{{ asset('admin/assets/css/app.min.css') }}" type="text/css">
    <!-- Css -->
    <link rel="stylesheet" href="{{ asset('admin/vendors/dataTable/dataTables.min.css') }}" type="text/css">

    <!-- Plugin scripts -->
    <script src="{{ asset('admin/vendors/bundle.js') }}"></script>



    <!-- Slick.js -->
    <script src="{{ asset('admin/vendors/slick/slick.min.js') }}"></script>

    <!-- Chartjs -->
    <script src="{{ asset('admin/vendors/charts/chartjs/chart.min.js') }}"></script>
    <!-- <script src="assets/js/examples/charts/chartjs.js"></script> -->

    <!-- Apex chart -->
    <script src="{{ asset('admin/assets/js/examples/charts/apex-irregular-data-series.js') }}"></script>
    <script src="{{ asset('admin/vendors/charts/apex/apexcharts.min.js') }}"></script>

    <!-- Circle progress -->
    <script src="{{ asset('admin/vendors/circle-progress/circle-progress.min.js') }}"></script>

    <!-- Style -->
    <link rel="stylesheet" href="{{ asset('admin/vendors/tagsinput/bootstrap-tagsinput.css') }}" type="text/css">

    <!-- Dashboard scripts -->
    <!-- Chartjs -->
    <!-- <script src="vendors/charts/chartjs/chart.min.js"></script> -->
    <!-- <script src="assets/js/examples/charts/chartjs.js"></script> -->

    <script src="{{ asset('admin/assets/js/examples/dashboard.js') }}"></script>

    <!-- App scripts -->
    <script src="{{ asset('admin/assets/js/app.min.js') }}"></script>

    <!--jQuery-->
    <script src="{{ asset('front/js/jquery-3.4.1.min.js') }}"></script>
    <!--Popper js-->
    <script src="{{ asset('front/js/popper.min.js') }}"></script>
    <!--Bootstrap js-->
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>

    <!-- Javascript -->
    <script src="{{ asset('admin/vendors/dataTable/jquery.dataTables.min.js') }}"></script>

    <!-- Bootstrap 4 and responsive compatibility -->
    <script src="{{ asset('admin/vendors/dataTable/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/dataTable/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/tagsinput/bootstrap-tagsinput.js') }}"></script>

</head>
<body>

<!-- begin::preloader-->
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<!-- end::preloader -->

<!-- begin::header -->
<div class="header">

    <div>
        <ul class="navbar-nav">

            <!-- begin::navigation-toggler -->
            <li class="nav-item navigation-toggler">
                <a href="#" class="nav-link" title="Hide navigation">
                    <i data-feather="arrow-left"></i>
                </a>
            </li>
            <li class="nav-item navigation-toggler mobile-toggler">
                <a href="#" class="nav-link" title="Show navigation">
                    <i data-feather="menu"></i>
                </a>
            </li>
            <!-- end::navigation-toggler -->
        </ul>
    </div>

    <div>
        <ul class="navbar-nav">

            <!-- begin::header minimize/maximize -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" title="تمام صفحه" data-toggle="fullscreen">
                    <i class="maximize" data-feather="maximize"></i>
                    <i class="minimize" data-feather="minimize"></i>
                </a>
            </li>
            <!-- end::header minimize/maximize -->

            <!-- begin::header messages dropdown -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link nav-link-notify" title="گفت‌گوها" data-toggle="dropdown">
                    <i data-feather="message-circle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-left dropdown-menu-big">
                    <div class="p-4 text-center d-flex justify-content-between"
                         data-backround-image="assets/media/image/image1.jpg">
                        <h6 class="mb-0">گفت‌گوها</h6>
                        <small class="font-size-11 opacity-7">2 گفت‌گو خوانده نشده</small>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li>
                                <a href="#" class="list-group-item d-flex hide-show-toggler">
                                    <div>
                                        <figure class="avatar avatar-sm m-r-15">
                                            <img src="assets/media/image/user/man_avatar1.jpg"
                                                 class="rounded-circle" alt="user">
                                        </figure>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                            علی احمدی
                                            <i title="Mark as read" data-toggle="tooltip"
                                               class="hide-show-toggler-item fa fa-circle-o font-size-11"></i>
                                        </p>
                                        <div class="small text-muted">
                                            <span class="mr-2">02:30 بعدازظهر</span>
                                            <span>آخرین تغییر رو کامیت کردم</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                   class="list-group-item d-flex align-items-center hide-show-toggler">
                                    <div>
                                        <figure class="avatar avatar-sm m-r-15">
                                            <img src="assets/media/image/user/women_avatar5.jpg"
                                                 class="rounded-circle" alt="user">
                                        </figure>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                            صنم صفایی
                                            <i title="Mark as read" data-toggle="tooltip"
                                               class="hide-show-toggler-item fa fa-circle-o font-size-11"></i>
                                        </p>
                                        <div class="small text-muted">
                                            <span class="mr-2">08:36 بعدازظهر</span>
                                            <span>فایل نهایی ارسال شد؟</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="text-divider small pb-2 pl-3 pt-3">
                                <span>گفت‌گوهای قدیمی</span>
                            </li>
                            <li>
                                <a href="#"
                                   class="list-group-item d-flex align-items-center hide-show-toggler">
                                    <div>
                                        <figure class="avatar avatar-sm m-r-15">
                                            <img src="assets/media/image/user/man_avatar3.jpg"
                                                 class="rounded-circle" alt="user">
                                        </figure>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                            احمد رضایی
                                            <i title="Mark as unread" data-toggle="tooltip"
                                               class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                        </p>
                                        <div class="small text-muted">
                                            <span class="mr-2">11:09 بعدازظهر</span>
                                            <span>آخرین تغییر رو کامیت کردم</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="list-group-item d-flex hide-show-toggler">
                                    <div>
                                        <figure class="avatar avatar-sm m-r-15">
                                            <img src="assets/media/image/user/man_avatar2.jpg"
                                                 class="rounded-circle" alt="user">
                                        </figure>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                            الهه جم
                                            <i title="Mark as unread" data-toggle="tooltip"
                                               class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                        </p>
                                        <div class="small text-muted">
                                            <span class="mr-2">دیروز</span>
                                            <span>فایل نهایی ارسال شد؟</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                   class="list-group-item d-flex align-items-center hide-show-toggler">
                                    <div>
                                        <figure class="avatar avatar-sm m-r-15">
                                            <img src="assets/media/image/user/women_avatar1.jpg"
                                                 class="rounded-circle" alt="user">
                                        </figure>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                            نیلوفر فروهر
                                            <i title="Mark as unread" data-toggle="tooltip"
                                               class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                        </p>
                                        <div class="small text-muted">
                                            <span class="mr-2">دیروز</span>
                                            <span>فایل نهایی ارسال شد؟</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-2 text-right">
                        <ul class="list-inline small">
                            <li class="list-inline-item">
                                <a href="#">علامتگذاری به عنوان خوانده شده</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- end::header messages dropdown -->

            <!-- begin::header notification dropdown -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link nav-link-notify" title="اطلاعیه‌ها" data-toggle="dropdown">
                    <i data-feather="bell"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-left dropdown-menu-big">
                    <div class="p-4 text-center d-flex justify-content-between"
                         data-backround-image="assets/media/image/image1.jpg">
                        <h6 class="mb-0">اطلاعیه‌ها</h6>
                        <small class="font-size-11 opacity-7">1 اطلاعیه خوانده نشده</small>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li>
                                <a href="#" class="list-group-item d-flex hide-show-toggler">
                                    <div>
                                        <figure class="avatar avatar-sm m-r-15">
                                                <span class="avatar-title bg-success-bright text-success rounded-circle">
                                                    <i class="ti-user"></i>
                                                </span>
                                        </figure>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                            ثبت نام خریدار جدید
                                            <i title="Mark as read" data-toggle="tooltip"
                                               class="hide-show-toggler-item fa fa-circle-o font-size-11"></i>
                                        </p>
                                        <span class="text-muted small">20 دقیقه قبل</span>
                                    </div>
                                </a>
                            </li>
                            <li class="text-divider small pb-2 pl-3 pt-3">
                                <span>اطلاعیه‌های قبلی</span>
                            </li>
                            <li>
                                <a href="#" class="list-group-item d-flex hide-show-toggler">
                                    <div>
                                        <figure class="avatar avatar-sm m-r-15">
                                                <span class="avatar-title bg-warning-bright text-warning rounded-circle">
                                                    <i class="ti-package"></i>
                                                </span>
                                        </figure>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                            سفارش جدید دریافت شد
                                            <i title="Mark as unread" data-toggle="tooltip"
                                               class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                        </p>
                                        <span class="text-muted small">45 ثانیه قبل</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                   class="list-group-item d-flex align-items-center hide-show-toggler">
                                    <div>
                                        <figure class="avatar avatar-sm m-r-15">
                                                <span class="avatar-title bg-danger-bright text-danger rounded-circle">
                                                    <i class="ti-server"></i>
                                                </span>
                                        </figure>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                            به سقف مجاز سرور نزدیک شده اید
                                            <i title="Mark as unread" data-toggle="tooltip"
                                               class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                        </p>
                                        <span class="text-muted small">55 ثانیه قبل</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#"
                                   class="list-group-item d-flex align-items-center hide-show-toggler">
                                    <div>
                                        <figure class="avatar avatar-sm m-r-15">
                                                <span class="avatar-title bg-info-bright text-info rounded-circle">
                                                    <i class="ti-layers"></i>
                                                </span>
                                        </figure>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                            اپ های دارای بروزسانی
                                            <i title="Mark as unread" data-toggle="tooltip"
                                               class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                        </p>
                                        <span class="text-muted small">دیروز</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-2 text-right">
                        <ul class="list-inline small">
                            <li class="list-inline-item">
                                <a href="#">علامتگذاری به عنوان خوانده شده</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- end::header notification dropdown -->

            <!-- begin::user menu -->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" title="User menu" data-toggle="dropdown">
                    <i data-feather="settings"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-left dropdown-menu-big">
                    <div class="p-4 text-center d-flex justify-content-between"
                         data-backround-image="assets/media/image/image1.jpg">
                        <h6 class="mb-0">تنظیمات</h6>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                    <label class="custom-control-label" for="customSwitch1">مجوز ارسال اطلاعیه</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2">پنهان کردن درخواست ها</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
                                    <label class="custom-control-label" for="customSwitch3">افزایش سرعت انجام دستورات</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
                                    <label class="custom-control-label" for="customSwitch4">پنهان کردن منو</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch5">
                                    <label class="custom-control-label" for="customSwitch5">به خاطرسپاری بازدید</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch6">
                                    <label class="custom-control-label" for="customSwitch6">فعالسازی تولید گزارش خودکار</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- end::user menu -->
        </ul>

        <!-- begin::mobile header toggler -->
        <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item header-toggler">
                <a href="#" class="nav-link">
                    <i data-feather="arrow-down"></i>
                </a>
            </li>
        </ul>
        <!-- end::mobile header toggler -->
    </div>

</div>
<!-- end::header -->

<div id="main">

    <!-- begin::navigation -->
    <div class="navigation">

        <div class="navigation-menu-tab">
            <div>
                <div class="navigation-menu-tab-header" data-toggle="tooltip" title="{{ app.user.fullName }}" data-placement="right">
                    <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                        <figure class="avatar avatar-sm">
                            <img src="{{ asset('admin/assets/media/image/user/women_avatar1.jpg') }}" class="rounded-circle" alt="avatar">
                        </figure>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-big">
                        <div class="p-3 text-center" data-backround-image="{{ asset('admin/assets/media/image/image1.jpg') }}">
                            <figure class="avatar mb-3">
                                <img src="{{ asset('admin/assets/media/image/user/women_avatar1.jpg') }}" class="rounded-circle" alt="image">
                            </figure>
                            <h6 class="d-flex align-items-center justify-content-center">
                                {{ app.user.fullName }}
                                <a href="#" class="btn btn-primary btn-sm ml-2" data-toggle="tooltip" title="ویرایش پروفایل">
                                    <i data-feather="edit-2"></i>
                                </a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1">
                <ul>
                    <li>
                        <a class="active" href="#" data-toggle="tooltip" data-placement="right" title="داشبردها"
                           data-nav-target="#dashboards">
                            <i data-feather="bar-chart-2"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="#" data-toggle="tooltip" data-placement="right" title="تنظیمات">
                            <i data-feather="settings"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}" data-toggle="tooltip" data-placement="right" title="خروج">
                            <i data-feather="log-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- begin::navigation menu -->
        <div class="navigation-menu-body">

            <!-- begin::navigation-logo -->
            <div>
                <div id="navigation-logo">
                    <a href="{{ path('adminDashboard') }}">
                        <img class="logo" src="{{ asset('images/public/sarkeshLogo.png') }}" alt="logo">
                        <img class="logo-light" src="{{ asset('images/public/sarkeshLogo.png') }}" alt="light logo">
                    </a>
                </div>
            </div>
            <!-- end::navigation-logo -->

            <div class="navigation-menu-group">

                <div class="open" id="dashboards">
                    <ul>
                        <li class="navigation-divider">بخش یاداشت و خبر</li>
                        <li><a class="" href="{{ path('adminNewsAdd') }}">یاداشت جدید</a></li>
                        <li><a class="" href="{{ path('adminNewsArchive') }}">مدیریت یاداشت‌ها<span class="badge badge-danger">{{ EntityMGR.findAll('App:NewsContent') | length }}</span></a></li>
                        <li><a class="" href="dashboard-two.html">دیدگاه‌ها<span class="badge badge-danger">2</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end::navigation menu -->

    </div>
    <!-- end::navigation -->

    <!-- begin::main content -->
    <main class="main-content">

        <div class="page-header">
            <div class="container-fluid d-sm-flex justify-content-between">
                <h4>{{ block('title') }}</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{path('adminDashboard')}}">داشبورد</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ block('title') }}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                {% block pageBody %}{% endblock %}
            </div>
        </div>

        <!-- begin::footer -->
        <footer>
            <div class="container-fluid">
                <div>تمام حقوق برای توسعه فناوری سرکش محفوظ است</div>

                <div>
                    <nav class="nav">
                        <a href="https://www.rtl-theme.com/standard/" class="nav-link">لیسانس</a>
                        <a href="#" class="nav-link">تغییر لاگ</a>
                        <a href="#" class="nav-link">راهنمایی</a>
                    </nav>
                </div>
            </div>
        </footer>
        <!-- end::footer -->

    </main>
    <!-- end::main content -->

</div>

<div class="colors"> <!-- To use theme colors with Javascript -->
    <div class="bg-primary"></div>
    <div class="bg-primary-bright"></div>
    <div class="bg-secondary"></div>
    <div class="bg-secondary-bright"></div>
    <div class="bg-info"></div>
    <div class="bg-info-bright"></div>
    <div class="bg-success"></div>
    <div class="bg-success-bright"></div>
    <div class="bg-danger"></div>
    <div class="bg-danger-bright"></div>
    <div class="bg-warning"></div>
    <div class="bg-warning-bright"></div>
</div>

<script>
    $(document).ready(function(){
        $('#myTable').DataTable();
        $("input.tagsinput").tagsinput('items');
        {% block javascriptOnReady %}{% endblock %}
    });
</script>
{% block javaScript %}{% endblock %}
</body>

</html>