{% extends 'base.html.twig' %}

{% block title %}{{content.title}}{% endblock %}

{% block body %}
    <!--blog section start-->
    <div class="module ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <!-- Post-->
                    <article class="post">
                        <div class="post-preview"><a href="{{ path('blogShowPost',{'url':content.url}) }}"><img src="{{ asset('publicFiles/' ~ content.pictureBanner) }}" alt="{{content.title}}"></a></div>
                        <div class="post-wrapper">
                            <div class="post-header">
                                <h2 class="post-title"><a href="{{ path('blogShowPost',{'url':content.url}) }}">{{content.title}} </a></h2>
                                <ul class="post-meta">
                                    <li> {{Jdate.jdate('J F Y',content.dateSubmit)}}</li>
                                    <li><a href="#">{{ content.cat.catName}}</a></li>
                                </ul>
                            </div>
                            <div class="post-content">
                                <p>
                                    {{ content.body | raw }}
                                </p>
                            </div>

                            <div class="post-footer">
                                <div class="post-more pt-4 align-items-center d-flex float-left"><a href="{{ path('blog')}}" class="btn secondary-solid-btn">بازگشت <span class="ti-arrow-circle-left"></span></a></div>

                                <div class="post-tags float-right"><a href="#">سفر </a><a href="#">سبک </a><a href="#">اخبار </a><a href="#">موسیقی</a></div>
                            </div>
                        </div>
                    </article>
                    <!-- Post end-->
                    <!-- Comments area-->
                    <div class="comments-area mb-5">
                        <h5 class="comments-title">دیدگاه‌ها</h5>
                        <div class="comment-list">
                            {% for comment in content.newsComments() %}
                                <!-- Comment-->
                                <div class="comment">
                                    <div class="comment-author"><img class="avatar img-fluid rounded-circle" src="https://www.gravatar.com/avatar/{{ comment.emailMD5 }}?s=200" alt="متن پیام"></div>
                                    <div class="comment-body">
                                        <div class="comment-meta">
                                            <div class="comment-meta-author"><a href="#">{{comment.fullName}}</a></div>
                                            <div class="comment-meta-date"><a href="#">{{Jdate.jdate('J F Y',comment.dateSubmit)}}</a></div>
                                        </div>
                                        <div class="comment-content">
                                            <p>{{comment.body}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="comment-respond">
                            <h5 class="comment-reply-title">پاسخ دهید</h5>
                            <p class="comment-notes">آدرس ایمیل شما منتشر نخواهد شد. قسمت های مورد نیاز علامت گذاری شده اند</p>
                            <form class="comment-form row">
                                <div class="form-group col-md-4">
                                    <input class="form-control" type="text" placeholder="نام">
                                </div>
                                <div class="form-group col-md-4">
                                    <input class="form-control" type="text" placeholder="پست الکترونیک">
                                </div>
                                <div class="form-group col-md-4">
                                    <input class="form-control" type="url" placeholder="سایت اینترنتی">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" rows="8" placeholder="متن پیام"></textarea>
                                </div>
                                <div class="form-submit col-md-12">
                                    <button class="btn secondary-solid-btn" type="submit">ارسال نظر</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Comments area end-->
                </div>
            </div>
        </div>
    </div>
    <!--blog section end-->
{% endblock %}
