{% extends 'base.html.twig' %}

{% block title %}وبلاگ{% endblock %}

{% block body %}
    <!--blog section start-->
    <div class="module ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    {% for content in contents %}
                        <!-- Post-->
                        <article class="post">
                            <div class="post-preview"><a href="{{ path('blogShowPost',{'url':content.url}) }}"><img src="{{ asset('publicFiles/' ~ content.pictureBanner) }}" alt="وبلاگ"></a></div>
                            <div class="post-wrapper">
                                <div class="post-header">
                                    <h2 class="post-title"><a href="{{ path('blogShowPost',{'url':content.url}) }}">{{content.title}} </a></h2>
                                    <ul class="post-meta">
                                        <li> {{ content.submitter.fullName}}</li>
                                        <li> {{Jdate.jdate('J F Y',content.dateSubmit)}}</li>
                                        <li><a href="#">{{ content.cat.catName}}</a> </li>
                                        <li><a href="#">3 نظر</a></li>
                                    </ul>
                                </div>
                                <div class="post-content">
                                    <p>{{ content.des | raw }}</p>
                                </div>
                                <div class="post-more pt-4 align-items-center d-flex"><a href="{{ path('blogShowPost',{'url':content.url}) }}" class="btn secondary-solid-btn">بیشتر بخوانید <span class="ti-arrow-left"></span></a></div>
                            </div>
                        </article>
                        <!-- Post end-->
                    {% endfor %}
                    <!-- Page Navigation-->
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="custom-pagination-nav">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-right"></span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-left"></span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Page Navigation end-->
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="sidebar-left pr-4">
                        <!-- Recent entries widget-->
                        <aside class="widget widget-recent-entries-custom">
                            <div class="widget-title">
                                <h6>مطالب اخیر</h6>
                            </div>
                            <ul>
                                {% set lastContents = EntityMGR.findByPage('App:NewsContent',1,5) %}
                                {% for lastContent in lastContents %}
                                    <li class="clearfix">
                                        <div class="wi"><a href="{{ path('blogShowPost',{'url':lastContent.url}) }}"><img src="{{ asset('publicFiles/' ~ lastContent.pictureBanner) }}" alt="پست اخیر" class="img-fluid rounded"></a></div>
                                        <div class="wb"><a href="{{ path('blogShowPost',{'url':lastContent.url}) }}">{{lastContent.title}} </a><span class="post-date">{{Jdate.jdate('J F Y',lastContent.dateSubmit)}}</span></div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                        <!-- Categories widget-->
                        <aside class="widget widget-categories">
                            <div class="widget-title">
                                <h6>دسته بندی ها</h6>
                            </div>
                            <ul>
                                {% set cats = EntityMGR.findAll('App:NewsCat') %}
                                {% for cat in cats %}
                                    <li><a href="#">{{cat.catName}} <span class="float-right"></span></a></li>
                                {% endfor %}
                            </ul>
                        </aside>
                        <!-- Recent entries widget-->
                        <aside class="widget widget-recent-entries-custom">
                            <div class="widget-title">
                                <h6>مطالب محبوب</h6>
                            </div>
                            <ul>
                                {% for top in top5 %}
                                    <li class="clearfix">
                                        <div class="wi"><a href="{{ path('blogShowPost',{'url':top.url}) }}"><img src="{{ asset('publicFiles/' ~ top.pictureBanner) }}" alt="پست اخیر" class="img-fluid rounded"></a></div>
                                        <div class="wb"><a href="{{ path('blogShowPost',{'url':top.url}) }}">{{top.title}} </a><span class="post-date">{{Jdate.jdate('J F Y',top.dateSubmit)}}</span></div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>
                        <!-- Tags widget-->
                        <aside class="widget widget-tag-cloud">
                            <div class="widget-title">
                                <h6>برچسب ها</h6>
                            </div>
                            <div class="tag-cloud"><a href="#">تجارت الکترونیک </a><a href="#">نمونه کارها </a><a href="#">متن ساختگی </a><a href="#">خود راه انداز </a><a href="#">کسب و کار </a><a href="#">شرکت های بزرگ</a></div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--blog section end-->
{% endblock %}
