{% extends 'base.html.twig' %}

{% block title %}{{content.title}}{% endblock %}

{% block body %}
    <!--blog section start-->
    <div class="module ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <!-- Post-->
                    <article class="post">
                        <div class="post-preview"><a href="{{ path('blogShowPost',{'url':content.url}) }}"><img src="{{ asset('publicFiles/' ~ content.pictureBanner) }}" alt="{{content.title}}"></a></div>
                        <div class="post-wrapper">
                            <div class="post-header">
                                <h2 class="post-title"><a href="{{ path('blogShowPost',{'url':content.url}) }}">{{content.title}} </a></h2>
                                <ul class="post-meta">
                                    <li> {{Jdate.jdate('J F Y',content.dateSubmit)}}</li>
                                    <li><a href="{{ path('blogCat',{'url':content.cat.catUrl}) }}">{{ content.cat.catName}}</a></li>
                                </ul>
                            </div>
                            <div class="post-content">
                                <p>
                                    {{ content.body | raw }}
                                </p>
                            </div>

                            <div class="post-footer">
                                <div class="post-more align-items-center d-flex float-right"><a href="{{ path('blog')}}" class="text-danger btn btn-apple">بازگشت <span class="ti-arrow-circle-left"></span></a></div>
                                <div class="post-tags float-left">
                                    <a href=""><i class="fa fa-tag"></i> </a>
                                    {% for tag in content.kywords|split(',') %}
                                        <a href="{{path('blogTag',{'tag':tag})}}">{{tag}} </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- Post end-->
                    <!-- Comments area-->
                    <div class="comments-area mb-5">
                        <h5 class="comments-title">دیدگاه‌ها</h5>
                        <div class="comment-list">
                            {% for comment in content.newsComments() %}
                                <!-- Comment-->
                                <div class="comment">
                                    <div class="comment-author"><img class="avatar img-fluid rounded-circle" src="https://www.gravatar.com/avatar/{{ comment.emailMD5 }}?s=200" alt="متن پیام"></div>
                                    <div class="comment-body">
                                        <div class="comment-meta">
                                            <div class="comment-meta-author"><a href="#">{{comment.fullName}}</a></div>
                                            <div class="comment-meta-date"><a href="#">{{Jdate.jdate('J F Y',comment.dateSubmit)}}</a></div>
                                        </div>
                                        <div class="comment-content">
                                            <p>{{comment.body}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="comment-respond">
                            <h5 class="comment-reply-title">پاسخ دهید</h5>
                            <p class="comment-notes">آدرس ایمیل شما منتشر نخواهد شد. قسمت های مورد نیاز علامت گذاری شده اند</p>
                            {% if app.request.get('msg') == 1 %}
                                <script>
                                    $(document).ready(function(){
                                        swal("پیام سیستم", "دیدگاه با موفقیت ثبت شد!", "success");
                                    });
                                </script>
                            {% elseif app.request.get('msg') == 2 %}
                                <script>
                                    $(document).ready(function(){
                                        swal("پیام سیستم", "اعتبارستنجی با مشکل مواجه شد!", "danger");
                                    });
                                </script>
                            {% endif %}
                            {{ form_start(form) }}
                            <div class="row">
                                {{ form_errors(form) }}
                                <div class="form-group col-md-4">
                                    {{ form_widget(form.fullName,{'attr':{'placeholder':'نام و نام‌خانوادگی'}}) }}
                                </div>
                                <div class="form-group col-md-4">
                                    {{ form_widget(form.email,{'attr':{'placeholder':'پست الکترونیکی'}}) }}
                                </div>
                                <div class="form-group col-md-4">
                                    {{ form_widget(form.website,{'attr':{'placeholder':'وب‌سایت'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    {{ form_widget(form.body,{'attr':{'placeholder':'متن دیدگاه شما؟'}}) }}
                                </div>
                                <div class="form-group col-md-12">
                                    {{ form_widget(form.recaptcha, { 'attr': {
                                        'options' : {
                                            'theme': 'light',
                                            'type': 'image',
                                            'size' : 'normal',
                                            'defer' : true,
                                            'async' : true,
                                        
                                        },
                                    } }) }}
                                </div>
                                <div class="form-submit col-md-12">
                                    {{ form_widget(form.submit) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <!-- Comments area end-->
                </div>
            </div>
        </div>
    </div>
    <!--blog section end-->
{% endblock %}
