<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta description -->
    <meta name="description"
          content="BizBite corporate business template or agency and marketing template helps you easily create websites for your business.">
    <meta name="author" content="ThemeTags">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!--title-->
    <title>توسعه فناوری سرکش - {% block title %}{% endblock %}</title>

    <!--favicon icon-->
    <link rel="icon" href="{{ asset('images/favicon.jpg') }}" type="image/png" sizes="16x16">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700%7COpen+Sans:400,600&amp;display=swap" rel="stylesheet">

    <!--Bootstrap css-->
    <link rel="stylesheet" href="{{ asset('front/css/bootstrap.min.css') }}">
    <!--Magnific popup css-->
    <link rel="stylesheet" href="{{ asset('front/css/magnific-popup.css') }}">
    <!--Themify icon css-->
    <link rel="stylesheet" href="{{ asset('front/css/themify-icons.css') }}">
    <!--Fontawesome icon css-->
    <link rel="stylesheet" href="{{ asset('front/css/all.min.css') }}">
    <!--animated css-->
    <link rel="stylesheet" href="{{ asset('front/css/animate.min.css') }}">
    <!--ytplayer css-->
    <link rel="stylesheet" href="{{ asset('front/css/jquery.mb.YTPlayer.min.css') }}">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="{{ asset('front/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/owl.theme.default.min.css') }}">
    <!--custom css-->
    <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">
    <!--responsive css-->
    <link rel="stylesheet" href="{{ asset('front/css/responsive.css') }}">
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

</head>
<body>

<!--loader start-->
<div id="preloader">
    <div class="loader1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!--loader end-->
{% if hiddenHeader is not defined %}
    <!--header section start-->
    <header class="header">
        <!--start navbar-->
        <nav class="navbar navbar-expand-lg fixed-top bg-transparent">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="{{ asset('images/path3873.png') }}" alt="توسعه فناوری سرکش" class="" height="75px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="ناوبری را تغییر دهید">
                    <span class="ti-menu"></span>
                </button>
                <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto menu">
                        <li><a href="{{ path('home') }}">
                                <i class="ti-home"></i>
                                خانه
                            </a></li>
                        <li><a href="{{ path('pageAbout') }}">
                                <i class="ti-comments"></i>
                                درباره ما
                            </a></li>
                        <li><a href="{{ path('blog') }}">
                                <i class="ti-book"></i>
                                پایگاه دانش
                            </a></li>
                        <li><a href="{{ path('pageContact') }}">
                                <i class="ti-mobile"></i>
                                با ما تماس بگیرید
                            </a>
                        </li>
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <li><a href="{{ path('adminDashboard') }}">
                                    <i class="ti-desktop"></i>
                                    پنل کاربری
                                </a>
                            </li>
                            <li><a href="{{ path('app_logout') }}">
                                    <i class="ti-close"></i>
                                    خروج
                                </a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}">
                                    <i class="ti-user"></i>
                                    ورود به پنل کاربری
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--header section end-->
{% endif %}


<!--body content wrap start-->
<div class="main">
    {% if hiddenHeader is not defined %}
        {% if app.request.get('_route') != 'home' %}
            <!--header section start-->
            <section class="hero-section ptb-100 gradient-overlay" style="background: url('{{ asset('front/img/header-bg-5.jpg') }}')no-repeat center center / cover">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-7">
                            <div class="page-header-content text-white text-center pt-sm-5 pt-md-5 pt-lg-0">
                                <h1 class="text-white mb-0">{{ block('title')}}</h1>
                                <div class="custom-breadcrumb">
                                    <ol class="breadcrumb d-inline-block bg-transparent list-inline py-0">
                                        <li class="list-inline-item breadcrumb-item"><a href="{{path('home')}}">خانه</a></li>
                                        <li class="list-inline-item breadcrumb-item active">{{ block('title')}}</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--header section end-->
        {% endif %}
    {% endif %}

    {% block body %}{% endblock %}
</div>
<!--body content wrap end-->


<!--footer section start-->
<footer class="footer-section">
    <!--footer top start-->
    <div class="footer-top gradient-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row footer-top-wrap">
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-nav-wrap text-white">
                                <h4 class="text-white">لینک های سریع</h4>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">جلسات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">خدمات بخش</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">مطالعات </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">رشد تجاری</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-nav-wrap text-white">
                                <h4 class="text-white">شرکت</h4>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">درباره خدمات ما</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">برنامه وابسته ما</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path('blog')}}">مشاهده وبلاگ ما</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">استخدام</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-nav-wrap text-white">
                                <h4 class="text-white">مجاز</h4>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">اطلاعات حقوقی</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">سیاست حفظ حریم خصوصی</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">گزارش سوءاستفاده</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">شرایط استفاده از خدمات</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-nav-wrap text-white">
                                <h4 class="text-white">پشتیبانی</h4>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{path('pageContact')}}">تماس با ما</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">دانش محور</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">انجمن ها</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">وضعیت سیستم</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row footer-top-wrap">
                        <div class="col-12">
                            <div class="footer-nav-wrap text-white">
                                <h4 class="text-white">در تماس باشید</h4>
                                <ul class="get-in-touch-list">
                                    <li class="d-flex align-items-center py-2"><span class="fas fa-map-marker-alt mr-2"></span> تهران - ونک - خیابان بهار</li>
                                    <li class="d-flex align-items-center py-2"><span class="fas fa-envelope mr-2"></span>info@sarkesh.org</li>
                                    <li class="d-flex align-items-center py-2"><span class="fas fa-phone-alt mr-2"></span> 021-</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer top end-->

    <!--footer copyright start-->
    <div class="footer-bottom gray-light-bg py-2">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5 col-lg-5">
                    <p class="copyright-text pb-0 mb-0">تمامی حقوق این وب‌سایت برای شرکت
                        <a href="https://sarkesh.org" target="_blank">توسعه فناوری سرکش</a>
                         محفوظ است.
                    </p>
                </div>
                <div class="col-md-7 col-lg-6 d-none d-md-block d-lg-block">
                    <div class="social-nav text-right">
                        <ul class="list-unstyled social-list mb-0">
                            <li class="list-inline-item tooltip-hover">
                                <a href="#" class="rounded"><span class="ti-facebook"></span></a>
                                <div class="tooltip-item">فیس بوک</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-twitter"></span></a>
                                <div class="tooltip-item">توییتر</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-linkedin"></span></a>
                                <div class="tooltip-item">لینکدین</div>
                            </li>
                            <li class="list-inline-item tooltip-hover"><a href="#" class="rounded"><span class="ti-dribbble"></span></a>
                                <div class="tooltip-item">دریبل</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer copyright end-->
</footer>
<!--footer section end-->

<!--bottom to top button start-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="ti-angle-up"></span>
</button>
<!--bottom to top button end-->


<!--jQuery-->
<script src="{{ asset('front/js/jquery-3.4.1.min.js') }}"></script>
<!--Popper js-->
<script src="{{ asset('front/js/popper.min.js') }}"></script>
<!--Bootstrap js-->
<script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
<!--Magnific popup js-->
<script src="{{ asset('front/js/jquery.magnific-popup.min.js') }}"></script>
<!--jquery easing js-->
<script src="{{ asset('front/js/jquery.easing.min.js') }}"></script>
<!--jquery ytplayer js-->
<script src="{{ asset('front/js/jquery.mb.YTPlayer.min.js') }}"></script>
<!--Isotope filter js-->
<script src="{{ asset('front/js/mixitup.min.js') }}"></script>
<!--wow js-->
<script src="{{ asset('front/js/wow.min.js') }}"></script>
<!--owl carousel js-->
<script src="{{ asset('front/js/owl.carousel.min.js') }}"></script>
<!--countdown js-->
<script src="{{ asset('front/js/jquery.countdown.min.js') }}"></script>
<!--custom js-->
<script src="{{ asset('front/js/scripts.js') }}"></script>

</body>
</html>
